$black: #272727;
$navy: #1d273d;
$yellow: #fca311;
$gray: #e5e5e5;
$white: #ffffff;
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,400;1,700&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap");

$serif: "Playfair Display", serif;
$sans: "Cabin", sans-serif;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: $navy;
	&:hover {
		text-decoration: none;
		color: $yellow;
	}
}
.btn {
	&:hover {
		color: $yellow;
	}
}
@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
	@if (lightness($color) >40%) {
		@return black;
	} @else {
		@return white;
	}
}

@mixin media-md {
	@media screen and (min-width: 768px) {
		@content;
	}
}
@mixin media-xl {
	@media screen and (min-width: 1600px) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (min-width: 1024px) {
		@content;
	}
}
